<launch>
    <node pkg="dobot" type="DobotServer" name="dobot_server" args="/dev/ttyUSB1" />
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="autoreapeat_rate" value="10" />
        <param name="coalesce_interval" value="0.15" />
    </node>
    <node pkg="dobot" type="DobotClient_JOY2PTP" name="dobot_client_joy2ptp" />
</launch>
